<div class="row">
  <div class="col-md-6">
    <h3>Day 1, 25th TUE</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>2
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, 26th, WED</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell, part 1</a></td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 3, 27th, THU</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell, part 2</a></td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>Day 4, 28th, FRI</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a><br>
        <a href="https://librarycarpentry.org/Top-10-FAIR">Top 10 FAIR Data & Software Things</a>
        </td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
 
  <div class="col-md-6">
    <h3>Day 5, 1st, TUE</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine, part 1</a></td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 6, 2nd, WED</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine, part 2</a></td> </tr>
      <tr> <td>15:45</td>  <td>break</td> </tr>
      <tr> <td>16:45</td>  <td>break</td> </tr>
      <tr> <td>17:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
